{%extends 'UserView/layout.html'%} {% block content%}
<!--Login-->
<section class="content">
  <form method="post">
    <!--Email-->
    <label for="GET-email">Correo electronico</label>
    <br />
    <input id="GET-email" type="text" name="email" />
    <br />
    <!--Password-->
    <label for="GET-password">Contraseña</label>
    <br />
    <input id="GET-password" type="password" name="password" />
    <br />
    <!--Enviar peticion-->
    <div class="d-grid gap-2 col-6 mx-auto">
      <a type="submit" class="btn btn-success me-1 text-center">ingresar</a>
    </div>
  </form>
</section>
{% endblock %}
