{%extends 'UserView/layout.html'%}
<!--Formulario de consulta-->
{% block content%}
<section id="search_form" class="content">
  <form method="post">
    <!--Titulo-->
    <label for="GET-title">Titulo</label>
    <input id="GET-title" type="text" name="title" />
    <br />
    <!--Autor-->
    <label for="GET-author">Autor</label>
    <input id="GET-author" type="text" name="author" />
    <br />
    <!--Año-->
    <label for="GET-year">Año</label>
    <input id="GET-year" type="text" name="year" />
    <br />
    <!--publisher-->
    <label for="GET-publisher">Publisher</label>
    <input id="GET-publisher" type="text" name="publisher" />
    <br />
    <!--Tipo-->
    <label for="GET-type">Tipo</label>
    <input id="GET-type" type="text" name="type" />
    <br />
    <!--Idioma-->
    <label for="GET-language">Idioma</label>
    <input id="GET-language" type="text" name="language" />
    <br />
    <!--Keywords-->
    <label for="GET-keywords">Palabras clave</label>
    <input id="GET-keywords" type="text" name="keywords" />
    <br />
    <!--Enviar peticion-->
    <div class="d-grid gap-2 col-6 mx-auto">
      <a type="submit" class="btn btn-success me-1 text-center">Buscar</a>
    </div>
  </form>
</section>
{% endblock %}
